@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&display=swap");

.container {
  text-align: center;
  background-color: #cfcfcf;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 2px solid rgb(0, 0, 0, 0.54);
}

.title {
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.66);
  cursor: pointer;
}

.titleConcluded {
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.479);
  cursor: pointer;
}

.concluded {
  background-color: #cfcfcf75;
}
